<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xceed.Products.Wpf.DataGrid.Full" version="7.2.24171.1009" targetFramework="net48" />
  <package id="Xceed.Wpf.Controls" version="7.2.24171.1009" targetFramework="net48" />
  <package id="Xceed.Wpf.DataGrid" version="7.2.24171.1009" targetFramework="net48" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.1" version="7.2.24171.1009" targetFramework="net48" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.2" version="7.2.24171.1009" targetFramework="net48" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.3" version="7.2.24171.1009" targetFramework="net48" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.4" version="7.2.24171.1009" targetFramework="net48" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.5" version="7.2.24171.1009" targetFramework="net48" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.6" version="7.2.24171.1009" targetFramework="net48" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.7" version="7.2.24171.1009" targetFramework="net48" />
  <package id="Xceed.Wpf.DataGrid.Views3D" version="7.2.24171.1009" targetFramework="net48" />
</packages>